<div 
    role="radiogroup"
    [attr.aria-labelledby]="id" 
    class="button-group"
    keyboard-manager>
    <label 
        class="label" 
        [attr.id]="id"> 
        {{ label }}
    </label>

    <button 
        keyboard-item
        role="radio"
        [attr.aria-checked]="yesSelected"
        [attr.tabindex]="yesSelected || !value ? 0 : -1"
        type="button" 
        class="button button-yes" 
        [class.button-pressed]="yesSelected"
        (click)="activate(options.YES)"
        (focused)="activate(options.YES)">
        Yes
    </button>

    <button 
        keyboard-item
        role="radio"
        [attr.aria-checked]="noSelected"
        [attr.tabindex]="noSelected ? 0 : -1"
        type="button" 
        class="button button-no" 
        [class.button-pressed]="noSelected"
        (click)="activate(options.NO)"
        (focused)="activate(options.NO)">
        No
    </button>
</div>